.share-wrapper {
  display: flex;
  align-items: center;
  // justify-content: center;
  margin-top: 3vh;
  flex-direction: column;
  height: 100%;
  z-index: 999;
  .share-close {
    margin-top: 0;
    width: 58px;
    height: 58px;
    background: url(../../../assets/img/token/overlay_close@3x.png) no-repeat center;
    background-size: 100%;
  }
  .share-content {
    margin-top: 32px;
    width: 530px;
    height: 780px;
    background: url(../../../assets/img/token/mytokenSharebg@3x.png) no-repeat top center;
    background-size: 100%;
    border-radius: 20px;
    overflow: hidden;
    .share-content-header {
      font-size: 32px;
      font-weight: 500;
      text-align: center;
      color: #e8fdff;
      margin-top: 48px;
    }
    .share-content-slogan {
      width: 456px;
      height: 58px;
      margin: 30px auto 24px;
      img {
        width: 100%;
      }
    }
    .share-content-body {
      margin: 0 auto;
      width: 426px;
      height: 530px;
      background: rgba(0, 0, 0, 0);
      border: 6px solid #ffffff;
      border-radius: 28px;
      overflow: hidden;
    }
    .share-content-btn {
      width: 100%;
      .share-btn-item {
        margin: 32px auto 0;
        width: 225px;
        padding: 15px 0;
        border: 2px solid #4dcfc5;
        text-align: center;
        border-radius: 60px;
        font-size: 28px;
        font-family: PingFangSC, PingFangSC-Regular;
        font-weight: 400;
        text-align: center;
        color: #4dcfc5;
      }
    }
  }
}
.share-mini-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-top: 3vh;
  flex-direction: column;
  height: 100%;
  z-index: 999;

  .share-mini-close {
    margin-top: 30px;
    width: 58px;
    height: 58px;
    background: url(../../../assets/img/token/overlay_close@3x.png) no-repeat center;
    background-size: 100%;
  }
  .share-mini-content {
    position: relative;
    width: 528px;
    height: 858px;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    .share-mini-content-body {
      max-width: 528px;
    }
    .share-mini-content-text {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 72px 0;
      background: #ffffff;
      p {
        width: 350px;
        font-size: 24px;
        font-family: PingFang SC, PingFang SC-Regular;
        font-weight: bold;
        text-align: center;
        color: #333333;
        line-height: 32px;
        letter-spacing: 2.4px;
        margin: 0 auto;
      }
    }
  }
}
