.Smallshop-container {
  position: relative;
  background-color: #4dcfc5;
  .smallshop-personal {
    position: relative;
    display: flex;
    padding: 50px 24px 22px;
    .smallshop-avatar {
      width: 88px;
      height: 88px;
      overflow: hidden;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .smallshop-content {
      flex: 1;
      padding-left: 27px;
      .smallshop-name {
        font-size: 32px;
        font-family: PingFangSC, PingFangSC-Medium;
        font-weight: 500;
        text-align: left;
        color: #ffffff;
        line-height: 44px;
      }
      .smallshop-title {
        font-size: 28px;
        font-family: PingFangSC, PingFangSC-Regular;
        font-weight: 400;
        text-align: left;
        color: #a9fffa;
        line-height: 40px;
      }
      .smallshop-action {
        position: relative;
        margin-top: 12px;
        font-size: 0;
        .smallshop-abtn {
          display: inline-block;
          border: 2px solid #cefff9;
          border-radius: 26px;
          font-size: 24px;
          font-family: PingFangSC, PingFangSC-Regular;
          font-weight: 400;
          text-align: center;
          color: #cefff9;
          line-height: 34px;
          padding: 1px 34px;
          margin-right: 20px;
        }
      }
    }
  }
  .smallshop-introduce {
    position: relative;
    margin: 0 20px;
    padding: 16px 30px 30px;
    background: linear-gradient(
      180deg,
      rgba(169, 255, 250, 0.35),
      rgba(189, 255, 251, 0.2) 52%,
      rgba(212, 255, 253, 0) 87%
    );
    border-radius: 20px;
    .introduce-content {
      font-size: 22px;
      font-family: PingFangSC, PingFangSC-Regular;
      font-weight: 400;
      text-align: left;
      color: #0f9086;
      line-height: 32px;
    }
    .packup-btn {
      position: absolute;
      right: 30px;
      bottom: 30px;
      font-size: 22px;
      font-family: PingFangSC, PingFangSC-Regular;
      font-weight: 400;
      text-align: left;
      color: #a9fffa;
      line-height: 32px;
      .icon {
        display: inline-block;
        width: 24px;
        height: 32px;
        margin-left: 6px;
        text-indent: -9999em;
        white-space: nowrap;
        opacity: 0.5;
        &::before {
          content: 'icon';
        }
      }
      .icon-info {
        background: url('../../assets/img/up_icon@3x.png') no-repeat center;
        background-size: 100%;
      }
    }
  }
  .smallshop-main {
    padding: 28px;
    width: auto;
    min-height: 610px;
    background: #f3f4f4;
    border-radius: 20px 20px 0 0;
    .smallshop-main-ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &:after {
        content: '';
        width: 335px;
      }
      .smallshop-main-li {
        width: 336px;
        flex-shrink: 0;
        margin-bottom: 24px;
      }
    }
  }
}
