.Price__root {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;

  .img-wrapper {
    width: 615px;
    .img {
      width: 615px;
      object-fit: cover;
    }
  }
}

.Price__root__face0,
.Price__root__end0 {
  top: 447px;
  right: 80px;
}
//南山文化旅游 center0//天涯海角 center1//三亚第一市场 center2//三亚鹿颐海景酒店 center3
.Price__root__center0,
.Price__root__center1,
.Price__root__center2,
.Price__root__center3 {
  justify-content: center;
  bottom: 228px;
}
////仙本那8天  face1 end1
//水上清真寺 center4//马步岛 center5//希尔顿酒店 center6//军舰岛 center7
.Price__root__face1,
.Price__root__end1 {
  justify-content: center;
  bottom: 205px;
}
.Price__root__center4,
.Price__root__center5,
.Price__root__center6,
.Price__root__center7 {
  justify-content: center;
  bottom: 202px;
}
