.Price__root {
  position: absolute;

  img {
    width: 291px;
    height: 98px;
  }
}

.Price__root__face0,
.Price__root__end0 {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 447px;
  left: 0;
  right: 80px;
  img {
    width: 254px;
    height: 100px;
  }
}
//南山文化旅游 center0//天涯海角 center1//三亚第一市场 center2//三亚鹿颐海景酒店 center3
.Price__root__center0,
.Price__root__center1,
.Price__root__center2,
.Price__root__center3 {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 213px;
  left: 0;
  right: 0;
  img {
    width: 117px;
    height: 30px;
  }
}
////仙本那8天  face1 end1
//水上清真寺 center4//马步岛 center5//希尔顿酒店 center6//军舰岛 center7
.Price__root__face1,
.Price__root__end1 {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 205px;
  left: 0;
  right: 0;
  img {
    width: 352px;
    height: 44px;
  }
}
.Price__root__center4,
.Price__root__center5,
.Price__root__center6,
.Price__root__center7 {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 202px;
  left: 0;
  right: 0;
  img {
    width: 112px;
    height: 40px;
  }
}
