.Label__root {
  position: absolute;

  img {
    width: 449px;
    height: 71px;
  }
}

.Label__root__face0,
.Label__root__end0 {
  position: absolute;
  bottom: 226px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);

  img {
    width: 449px;
    height: 71px;
  }
}
//南山文化旅游 center0//天涯海角 center1//三亚第一市场 center2//三亚鹿颐海景酒店 center3
.Label__root__center0 {
  position: absolute;
  bottom: 298px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);

  img {
    width: 552px !important;
    height: 64px;
  }
}
.Label__root__center1 {
  position: absolute;
  bottom: 300px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);

  img {
    width: 532px;
    height: 65px;
  }
}
.Label__root__center2 {
  position: absolute;
  bottom: 266px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);

  img {
    width: 615px;
    height: 65px;
  }
}
.Label__root__center3 {
  position: absolute;
  bottom: 266px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);

  img {
    width: 508px;
    height: 63px;
  }
}

////仙本那8天  face1 end1
//水上清真寺 center4//马步岛 center5//希尔顿酒店 center6//军舰岛 center7
.Label__root__face1,
.Label__root__end1 {
  position: absolute;
  top: 535px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);

  img {
    width: 615px !important;
    height: 129px !important;
  }
}
//水上清真寺 center4//马布岛 center5//希尔顿酒店 center6//军舰岛 center7
.Label__root__center4 {
  position: absolute;
  bottom: 274px;
  left: 0;
  right: 0;
  transform: translate3d(0, 0, 0);
  display: flex;
  justify-content: center;
  img {
    width: 615px !important;
    height: 64px !important;
  }
}
.Label__root__center5 {
  position: absolute;
  bottom: 301px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);

  img {
    width: 615px !important;
    height: 27px !important;
  }
}
.Label__root__center6 {
  position: absolute;
  bottom: 280px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);

  img {
    width: 615px !important;
    height: 28px !important;
  }
}
.Label__root__center7 {
  position: absolute;
  bottom: 265px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);

  img {
    width: 615px !important;
    height: 64px !important;
  }
}
