.Label__root {
  position: absolute;

  img {
    width: 449px;
    height: 71px;
  }
}

.Label__root__face0,
.Label__root__end0 {
  position: absolute;
  bottom: 226px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);

  img {
    width: 449px;
    height: 71px;
  }
}
.Label__root__center0 {
  position: absolute;
  bottom: 300px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);

  img {
    width: 532px;
    height: 65px;
  }
}
