.Title__root {
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
}

.Title__root__face0,
.Title__root__end0 {
  position: absolute;
  top: 197px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);

  img {
    width: 674px;
    height: 154px;
  }
}
.Title__root__center0 {
  position: absolute;
  top: 167px;
  left: 66px;
  right: 0;
  display: flex;
  // justify-content: center;
  transform: translate3d(0, 0, 0);
  img {
    width: 450px;
    height: 118px;
  }
}
