.Title__root {
  position: absolute;

  img {
    width: 674px;
    height: 154px;
  }
}

.Title__root__face0,
.Title__root__end0 {
  position: absolute;
  top: 191px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);

  img {
    width: 605px;
    height: 185px;
  }
}
// //南山文化旅游 center0//天涯海角 center1//三亚第一市场 center2//三亚鹿颐海景酒店 center3
.Title__root__center0 {
  position: absolute;
  top: 192px;
  left: 71px;
  right: 0;
  display: flex;
  // justify-content: center;
  transform: translate3d(0, 0, 0);
  img {
    width: 499px;
    height: 78px;
  }
}
//天涯海角 center1//三亚第一市场 center2//三亚鹿颐海景酒店 center3
.Title__root__center1 {
  position: absolute;
  top: 167px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);
  img {
    width: 402px;
    height: 114px;
  }
}
//三亚第一市场 center2//三亚鹿颐海景酒店 center3
.Title__root__center2 {
  position: absolute;
  bottom: 377px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);
  img {
    width: 377px;
    height: 56px;
  }
}
//三亚鹿颐海景酒店 center3
.Title__root__center3 {
  position: absolute;
  // bottom: 370px;
  top: 167px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);
  img {
    width: 524px;
    height: 60px;
  }
}
//仙本那8天  face1 end1
.Title__root__face1,
.Title__root__end1 {
  position: absolute;
  top: 178px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);

  img {
    width: 615px;
    height: 203px;
  }
}
//水上清真寺 center4
.Title__root__center4 {
  position: absolute;
  bottom: 559px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);
  img {
    width: 615px;
    height: 77px;
  }
}
//马布岛 center5
.Title__root__center5 {
  position: absolute;
  top: 95px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);
  z-index: 99;
  img {
    width: 615px;
    height: 106px;
  }
}
//希尔顿酒店 center6
.Title__root__center6 {
  position: absolute;
  top: 473px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);
  img {
    width: 615px;
    height: 53px;
  }
}
//军舰岛 center7
.Title__root__center7 {
  position: absolute;
  bottom: 353px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);
  img {
    width: 615px;
    height: 75px;
  }
}
