.UserCapitalPage__root {
  .rv-nav-bar {
    // background-color: transparent;
  }
  // padding: 33px;

  height: 100vh;
  position: relative;
  background: url('../../assets/img/bg.png') no-repeat;
  background-color: #f3f4f4;
  background-size: 100%;

  .top {
    width: 684px;
    height: 320px;
    background: #ffffff;
    border-radius: 14px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
    position: relative;

    .pic {
      width: 32px;
      height: 32px;
    }
    .one,
    .two {
      color: #7193f4;
    }
    .top-img {
      position: absolute;
      right: 25px;
      top: 25px;
    }
    .one {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      font-weight: 400;
      line-height: 40px;
      padding-bottom: 46px;
      margin-top: 32px;
      div {
        padding-right: 16px;
      }
    }
    .two {
      padding-bottom: 44px;
      .num {
        display: inline-block;
        font-size: 52px;
        font-weight: 500;
        line-height: 66px;
      }
    }
    .three {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: 400;
      color: #666;
      line-height: 34px;
      div {
        padding-right: 10px;
      }
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 80px;
    border-radius: 40px;
    color: #fff;
    background: linear-gradient(90deg, #7193f4, #9fb8fe);
    border: 0;
    border-radius: 50px;
    font-size: 32px;
    font-weight: 400;
    line-height: 80px;
    margin: 0 auto;
    margin-top: 80px;
  }
  .footer {
    position: absolute;
    bottom: 78px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    color: #999999;
    line-height: 34px;
    div {
      padding-right: 12px;
    }
    .pic {
      width: 8px;
    }
  }
}
.rv-dialog__content {
  .dialog {
    padding: 34px 30px 36px;
    .text {
      display: flex;
      justify-content: space-between;
      div {
        font-size: 28px;
        font-weight: 400;
        color: #333;
        line-height: 40px;
      }
      .img,
      div:last-child {
        width: 36px;
        height: 36px;
      }
    }
    .money {
      font-size: 60px;
      font-weight: 600;
      color: #333;
      line-height: 84px;
      text-align: center;
      margin: 56px 0 68px;
    }
    div:last-child {
      display: flex;
      justify-content: center;
    }
    .btn {
      width: 220px;
      height: 68px;
      background: linear-gradient(90deg, #7193f4, #9fb8fe);
      border-radius: 40px;
      color: #ffffff;
      font-size: 28px;
      line-height: 68px;
      text-align: center;
      margin: 0 auto;
    }
  }
}
.rv-action-sheet__content {
  .number-dialog {
    height: 986px;
    .box {
      padding: 36px 48px;
      div:first-child {
        font-size: 28px;
        font-weight: 400;
        color: #333;
      }
      .input-num {
        display: flex;
        border-bottom: 2px solid #f1f1f1;
        margin-top: 42px;
        margin-bottom: 20px;
        padding-bottom: 20px;

        align-items: flex-end;
        div {
          font-size: 44px;
          font-weight: 600;
          color: #333;
          padding-right: 20px;
        }
        .input {
          font-size: 88px;
          font-weight: 600;
          color: #333;
          line-height: 116px;
          height: 90px;
        }
      }
      div:last-child {
        font-size: 24px;
        font-weight: 400;
        text-align: left;
        color: #999;
      }
    }
  }
  .numberKey_yes {
    .rv-key--blue {
      background-color: #7193f4;
    }
  }
  .numberKey_no {
    .rv-key--blue {
      background-color: #d5defb;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
