html {
  // scroll-padding-top: 94px;
}
.UserCapitalPage__root {
  padding: 33px;
  background: #f3f4f4;
  min-height: 100vh;
  position: relative;
  .top {
    padding: 26px 140px 36px;
    background: #fff;
    border-radius: 14px;
    text-align: center;
    .pic {
      width: 24px;
      height: 24px;
    }
    .one,
    .two {
      color: #32d0c6;
    }
    .one {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      font-weight: 400;
      line-height: 40px;
      padding-bottom: 46px;
      div {
        padding-right: 16px;
      }
    }
    .two {
      padding-bottom: 44px;
      .num {
        display: inline-block;
        font-size: 48px;
        font-weight: 400;
        line-height: 66px;
      }
    }
    .three {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: 400;
      color: #666;
      line-height: 34px;
      div {
        padding-right: 10px;
      }
    }
  }

  .btn {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    button {
      color: #fff;
      background: #32d0c6;
      padding: 18px 176px;
      border: 0;
      border-radius: 50px;
      font-size: 32px;
      font-weight: 400;
      line-height: 44px;
    }
  }
  .footer {
    position: absolute;
    bottom: 78px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    color: #666;
    line-height: 34px;
    div {
      padding-right: 12px;
    }
    .pic {
      width: 14px;
      height: 26px;
    }
  }
}
