.SubmitBtn__root {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 100px;
  left: 0;
  right: 0;
  .btn-img {
    width: 200px;
    height: 80px;
  }
}

.SubmitBtn__root__face-0 {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 100px;
  left: 0;
  right: 0;
  .btn-img {
    width: 200px;
    height: 80px;
  }
}
