.SubmitBtn__root {
  display: flex;
  justify-content: center;
  position: absolute;
  .btn-img {
    width: 615px;
  }
}

.SubmitBtn__root__face0,
.SubmitBtn__root__end0 {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 59px;
  left: 0;
  right: 0;
  // transform: translate3d(0, 0, 0);
  // z-index: 10;
  // .btn-img {
  //   width: 491px;
  //   height: 125px;
  // }
}
//南山文化旅游 center0//天涯海角 center1//三亚第一市场 center2//三亚鹿颐海景酒店 center3
.SubmitBtn__root__center0,
.SubmitBtn__root__center1,
.SubmitBtn__root__center2,
.SubmitBtn__root__center3 {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 59px;
  left: 0;
  right: 0;
  // transform: translate3d(0, 0, 0);
  // z-index: 10;
  // .btn-img {
  //   width: 491px;
  //   height: 125px;
  // }
}
//仙本那8天  face1 end1
//水上清真寺 center4//马步岛 center5//希尔顿酒店 center6//军舰岛 center7
.SubmitBtn__root__face1,
.SubmitBtn__root__end1,
.SubmitBtn__root__center4,
.SubmitBtn__root__center5,
.SubmitBtn__root__center6,
.SubmitBtn__root__center7 {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 84px;
  left: 0;
  right: 0;
  // transform: translate3d(0, 0, 0);
  // z-index: 10;
  // .btn-img {
  //   width: 615px;
  //   height: 89px;
  // }
}
