.goods-content{
    display: flex;
    .goods-l{
        width: 124px;
        height: 128px;
        overflow: hidden;
        border-radius: 10px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .goods-r{
        position: relative;
        padding-left: 21px;
        text-align: left;
        flex: 1;
        .goods-rT_name{
            font-size: 28px;
            font-family: PingFangSC, PingFangSC-Medium;
            font-weight: 500;
            text-align: left;
            color: #333333;
            line-height: 40px;
        }
        .goods-rS{
            font-size: 24px;
            font-family: PingFangSC, PingFangSC-Regular;
            font-weight: 400;
            text-align: left;
            color: #999999;
            line-height: 34px;
        }
        .goods-rC_name{
            padding: 6px 0 2px;
        }
        .goods-rB_name{
            position: relative;
            span{
                margin-right: 25px;
            }
        }
        .goods-r-time{
            .goods-inventory{
                display: inline-block;
                font-size: 24px;
                font-family: PingFang SC, PingFang SC-Regular;
                font-weight: 400;
                text-align: center;
                padding: 2px 10px;
                color: #999999;
                background: #f3f4f4;
            }
        }
    }
}