.GSwiper__root {
  position: absolute;
  top: 0;
  left: 0;
}
//南山文化旅游 center0//天涯海角 center1//三亚第一市场 center2//三亚鹿颐海景酒店 center3
.GSwiper__root__center0 {
  position: absolute;
  top: 600px;
  bottom: 463px;
  left: 90px;
  overflow: hidden;
  .mySwiper {
    width: 557px;
    height: 353px;
  }
  img {
    width: 557px;
    height: 353px;
  }
}
.GSwiper__root__center1 {
  position: absolute;
  top: 456px;
  left: 69px;
  right: 69px;
  overflow: hidden;
  width: 606px;
  height: 478px;
  img {
    margin: 0 120px;
    border-radius: 20px;
    width: 366px;
    height: 478px;
  }
}
.GSwiper__root__center2 {
  position: absolute;
  top: 396px;
  bottom: 463px;
  left: 69px;
  right: 69px;
  overflow: hidden;
  .mySwiper {
    width: 557px;
    height: 353px;
  }
  img {
    width: 480px;
    height: 605px;
  }
}
.GSwiper__root__center3 {
  position: absolute;
  top: 396px;
  bottom: 468px;
  left: 72px;
  right: 71px;
  overflow: hidden;
  .mySwiper {
    width: 557px;
    height: 353px;
  }
  img {
    width: 596px;
    height: 398px;
  }
}
