.GSwiper__root {
  position: absolute;
  top: 0;
  left: 0;
}

.GSwiper__root__center0 {
  position: absolute;
  top: 600px;
  left: 90px;

  img {
    width: 557px;
    height: 353px;
    // border-radius: 0px 20px 0px 20px;
  }
}
