/* 基础公共样式 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

input,
img,
textarea {
  vertical-align: middle;
  border: 0;
}

body,
p,
ul,
ol,
li,
dl,
dt,
dd,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input {
  margin: 0;
  padding: 0;
  list-style: none;
  outline-style: none;
  -webkit-text-size-adjust: 100% !important;
}
body {
  background-color: #f3f4f4;
}
i {
  font-style: normal;
}
u {
  text-decoration: none;
}
b {
  font-weight: 400;
}
input {
  border-radius: 0;
  outline: none;
  width: 100%;
}
a {
  text-decoration: none;
  color: #8c8c8c;
}
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

.hairline--icon {
  display: inline-flex;
  align-items: center;
}
.popover-content {
  padding: 20px;
  font-size: 28px;
  max-width: 400px;
  line-height: 34px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.CF15E5E {
  color: #f15e5e !important;
}
.C999999 {
  color: #999999 !important ;
}
.C3AD2C5 {
  color: #3ad2c5 !important;
}
.CF48B43 {
  color: #f48b43 !important;
}
.C666666 {
  color: #666666 !important;
}
.C7193f4 {
  color: #7193f4 !important;
}
.CF5B572 {
  color: #f5b572 !important;
}
.CF57272 {
  color: #f57272 !important;
}
.CFD7D81 {
  color: #fd7d81 !important;
}
.C4DCFC5 {
  color: #4dcfc5 !important;
}

.rv-nav-bar__title {
  font-weight: 400 !important;
}
.rv-nav-bar__text {
  font-size: 24px;
  font-weight: 400;
}
.rv-list__finished-text {
  color: #c1c1c1 !important;
  font-size: 20px !important;
}
.padding-bottom {
  padding-bottom: constant(safe-area-inset-bottom); /*兼容 IOS<11.2*/
  padding-bottom: env(safe-area-inset-bottom);
}
.padding-top {
  padding-top: constant(safe-area-inset-top); /*兼容 IOS<11.2*/
  padding-top: env(safe-area-inset-top);
}

.margin-bottom {
  margin-bottom: constant(safe-area-inset-bottom); /*兼容 IOS<11.2*/
  margin-bottom: env(safe-area-inset-bottom);
}
.margin-top {
  margin-top: 25px;
  margin-top: constant(safe-area-inset-top); /*兼容 IOS<11.2*/
  margin-top: env(safe-area-inset-top);
}

/* 100vh适配问题 */
html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
.rv-image__loading {
  background: url('https://shanhai-shoping.oss-cn-beijing.aliyuncs.com/img/user/pic/327f2ff9f41a4276a670494e49954fb4.gif')
    center !important;
  background-size: 100%;
}
