
.refuamount-container{

    border-radius: 0 0 20px 20px;
    .refuamount-card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 28px 30px;
        background-color: #fff;
        .refuamount-name{
            font-size: 28px;
            font-family: PingFang SC, PingFang SC-Regular;
            font-weight: 400;
            text-align: left;
            color: #333333;
            flex: 1;
        }
        .refuamount-r{
            text-align: right;
            width: 120px;
            font-size: 24px;
            font-family: PingFang SC, PingFang SC-Medium;
            font-weight: 500;
            text-align: right;
            color: #333333;
            span{
                font-size: 36px;
            }
        }
    }
}
