.Order-container{
    position: relative;
    background-color: #4DCFC5;
    padding-bottom: 100px;
    .order-count{
        margin: 0 auto;
        padding: 8px 0;
        text-align: center;
        .rv-count-down{
            color: #fff;
        }
    }
    .order-main{
        padding: 24px;
        width: auto;
        min-height: 88vh;
        background: #f3f4f4;
        border-radius: 25px 25px 0 0 ;
        
        .preview_card{
            position: relative;
            padding: 30px;
            margin-top: 20px;
            background: #fff;
            border-radius: 20px;
        }  
    }
    
}

