.protocol_card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0;
    margin-top: 20px;
    font-size: 24px;
    font-family: PingFang SC, PingFang SC-Regular;
    font-weight: 400;
    text-align: left;
    color: #999999;
    .protocol-l {
      flex: 1;
      .rv-checkbox__label {
        color: #999999;
      }
      // padding-right: 1px;
    }
    .protocol-r {
      min-width: 0;
      span {
        color: #4fcfc5;
      }
    }
  }