.OperateDetailsPage__root {
  padding: 20px;
  background: #fff;
  min-height: 100vh;
  .tab {
    display: flex;
    justify-content: center;
    div {
      font-size: 24px;
      font-weight: 400;
      color: #333;
      line-height: 34px;
      padding: 13px 80px;
      background: #f7f7f7;
    }
    div:first-child {
      border-radius: 50px 0 0 50px;
    }
    div:last-child {
      border-radius: 0 50px 50px 0;
    }
    .active {
      background: #d3fbf9;
      color: #32d0c6;
    }
  }
  .tab-list {
    padding: 32px 22px;
    .tab-view {
      display: none;
    }
    .item {
      border-bottom: 2px solid #f1f1f1;
      margin-bottom: 20px;
      .month {
        font-size: 32px;
        font-weight: 500;
        color: #333;
        line-height: 44px;
        padding-bottom: 42px;
        .img {
          width: 18px;
          height: 10px;
        }
      }
      .counter {
        display: flex;
        justify-content: space-between;
        padding-bottom: 16px;
        div:first-child {
          font-size: 24px;
          font-weight: 400;
          color: #333;
          line-height: 34px;
        }
        div:last-child {
          font-size: 28px;
          font-weight: 600;
          text-align: right;
          color: #333;
          line-height: 40px;
        }
      }
      .text {
        padding-bottom: 26px;
        font-size: 28px;
        font-weight: 400;
        color: #777;
        line-height: 40px;
      }
    }
  }
}
