.DetailedPage__root {
  background: linear-gradient(to bottom, #4dcfc5 0%, #4dcfc5 50%, #fff 51%, #fff 100%);

  min-height: 100vh;
 
  .list {
    background: #fff;
    padding: 8px 42px 0 44px;
    border-radius: 32px 32px 0px 0px;
    min-height: 70vh;
    .item {
      padding: 26px 0;
      .counter,
      .under {
        display: flex;
        justify-content: space-between;
      }
      .counter {
        color: #333;
        font-size: 28px;
        padding-bottom: 12px;
        .text {
          padding-right: 96px;
          font-weight: 400;
        }
        .money {
          font-weight: 600;
        }
      }
      .goods-name {
        font-size: 24px;
        font-family: PingFang SC, PingFang SC-Regular;
        font-weight: 400;
        text-align: left;
        color: #999999;
        line-height: 32px;
        padding-bottom: 12px;
      }
      .under {
        .time {
          font-size: 24px;
          font-weight: 400;
          color: #999;
        }
        .title {
          font-size: 24px;
          font-weight: 400;
          color: #999;
        }
      }
    }
  }
  .footer {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #999;
    padding-top: 40px;
  }
}
